.Attribution {
    font-size: 12px;
    text-align: center;
    margin: 20px auto;

    a {
        color: hsl(228, 45%, 44%);
    }
}

.dark .Attribution {
    color: white;

    a {
        color: var(--desaturated-blue-text);
    }
}
