.SummaryTile {
    height: 215px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--boxes-border-radius);
    background-color: var(--light-grayish-blue-card-bg);
    overflow: hidden;

    .decoration-bar {
        height: 5px;
        width: 100%;

        &.facebook {
            border-top: 5px solid var(--facebook-blue);
        }

        &.twitter {
            border-top: 5px solid var(--twitter-blue);
        }

        &.instagram {
            border-top-width: 5px;
            border-top-style: solid;
            border-image: linear-gradient(100deg, var(--instagram-yellow), var(--instagram-pink)) 1;
        }

        &.youtube {
            border-top: 5px solid var(--youtube-red);
        }
    }

    .site-name {
        display: flex;
        margin: 25px 0;

        .site-icon {
            margin-right: 5px;
        }

        .username {
            font-weight: 700;
            color: var(--dark-grayish-blue-text);
        }
    }

    .total-amount {
        font-size: 42px;
        font-weight: 700;
        margin-bottom: 7px;
        color: var(--very-dark-blue-text);
    }

    .followers-subscribers {
        color: var(--dark-grayish-blue-text);
        letter-spacing: 2px;
        margin-bottom: 25px;
    }

    .trend {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid transparent;
        font-weight: 700;
        margin-bottom: 20px;

        .trend-direction-icon,
        .daily-amount {
            margin-right: 5px;
        }

        &.increase {
            color: var(--up-green);
        }

        &.decrease {
            color: var(--down-red);
        }
    }

    &:hover {
        cursor: pointer;
        background-color: var(--hover-gray);
    }
}

.dark .SummaryTile {
    background-color: var(--dark-desaturated-blue-card-bg);

    .total-amount {
        color: white;
    }

    .username,
    .followers-subscribers {
        color: var(--desaturated-blue-text);
    }
}
