.App {
  --up-green: #1eb589;
  --down-red: #dc414c;
  --facebook-blue: #0086ee;
  --twitter-blue: #269ff0;
  --youtube-red: #c1082d;
  --instagram-yellow: #fdbc6e;
  --instagram-pink: #e14f95;
  --toggle-green: #42c0ab;
  --toggle-blue: #3e9bd8;

  --mode-gray: #aeb3c9;

  --boxes-border-radius: 5px;

  // Dark Theme
  --very-dark-blue-bg: hsl(230, 17%, 14%);
  --very-dark-blue-top-bg-pattern: hsl(232, 19%, 15%);
  --dark-desaturated-blue-card-bg: hsl(228, 28%, 20%);
  --desaturated-blue-text: hsl(228, 34%, 66%);
  --white-text: hsl(0, 0%, 100%);

  // Light Theme
  --white-bg: hsl(0, 0%, 100%);
  --very-pale-blue-top-bg-pattern: hsl(225, 100%, 98%);
  --light-grayish-blue-card-bg: hsl(227, 47%, 96%);
  --dark-grayish-blue-text: hsl(228, 12%, 44%);
  --very-dark-blue-text: hsl(230, 17%, 14%);
  --hover-gray: #e1e3f0;

  max-width: 1440px;
  overflow-y: hidden;
  margin: 0 auto;
  position: relative;

  .background {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 245px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--very-pale-blue-top-bg-pattern);
  }

  .content {
    position: relative;
    padding: 0 165px;
  }

  &.dark {
    background-color: var(--very-dark-blue-bg);

    .background {
      background-color: var(--very-dark-blue-top-bg-pattern);
    }
  }

  @media screen and (max-width: 800px) {
    .content {
      padding: 0 50px;
    }
  }

  @media screen and (max-width: 475px) {
    .content {
      padding: 0 25px;
    }
  }
}
